/* .background-container {
  width: 100%;
  position: absolute;
  top: 0;
  height: 30vh;
  overflow: hidden;
} */

.admin-background {
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  height: 25vh;
}
