/* Mainlayout.css */
.main-layout {
    display: flex;
    min-height: 100vh;
  }
  
  .main-content {
    flex-grow: 1;
    /* transition: margin-left 0.3s ease;*/
    margin-left: 0; 
    overflow-y: auto;
  }
  
 @media (min-width: 768px) {
  .user-sidebar.open ~ .main-content {
    margin-left: 250px;
  }
}
  
  .content-container {
    margin-top: 150px;
    position: relative;
    z-index: 1;
  }